*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
}

.circularProgressContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
